<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>

<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if @task.completed %>
  <input type="checkbox" name="completed" checked>
<% else %>
  <input type="checkbox" name="completed">
<% end %>

<br>
<%= link_to "Edit", edit_task_path(@task) %>
<br>
<%= link_to "Back", tasks_path %>
<br>
<%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }%>
